<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true" />
    </system.webServer>
    <connectionStrings>
        <add connectionString="Dsn=DENTAL;uid=PDBA;databasename=DENTSERV;Pwd=dpF?3nHJYejwWUmzaXCM0%m#HUjCO5EE;" name="ConnectionString" />
    </connectionStrings>
</configuration>
